@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #2fb0ff;
}

body{ @apply bg-gray-50 text-gray-900 antialiased; }

.container{ @apply max-w-6xl mx-auto px-6; }

.header-link{ @apply text-gray-700 hover:text-black font-medium; }
